<?xml version="1.0"?>

<launch>
<!-- make world -->
   <!-- send target ID to judge server -->
  <node pkg="burger_war" type="sendIdToJudge.py" name="send_id_to_judge" output="screen">
    <param name="judge_url" value="http://127.0.0.1:5000" />
    <param name="side" value="r" />
  </node>

<!-- enemy burger blue side -->
  <group ns="enemy_bot">
   
      <!-- send target ID to judge server -->
      <node pkg="burger_war" type="sendIdToJudge.py" name="send_id_to_judge" output="screen">
        <param name="judge_url" value="http://127.0.0.1:5000" />
        <param name="side" value="b" />
      </node>

  </group>
</launch>
