<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->

    <!-- You can change control program  -->

    <!-- sample program node -->
    <!-- <node pkg="burger_war" type="randomRun.py" name="randomRun" output="screen"/> -->
    <!-- END sample program node -->

    <!-- PARAMS FOR DEBBUG -->    
    
    <!-- make args to params -->
    <group if="$(eval side=='r')">
      <param name="side" value="r"/>          
    </group>
    <group if="$(eval side=='b')">
      <param name="side" value="b"/>          
    </group>
    
    <include file="$(find burger_war)/launch/self_location_estimation.launch">
      <!-- <arg name="open_rviz" value ="false"/> -->
      <group if="$(eval side=='r')">
        <arg name="side" value="r" />
        <arg name="initial_pose_x" default="-1.3"/>
        <arg name="initial_pose_y" default="0.0"/>
        <arg name="initial_pose_a" default="0.0"/>
      </group>
      <group if="$(eval side=='b')">
        <arg name="side" value="b" />
          <arg name="initial_pose_x" default="1.3"/>
          <arg name="initial_pose_y" default="0.0"/>
          <arg name="initial_pose_a" default="1.57"/>
      </group>          
    </include>
    
    <node pkg="burger_war" type="war_state_publisher.py" name="warState" output="screen"/>    
    <node pkg="burger_war" type="tmp_myState_listener.py" name="myState" output="screen"/>    
    <node pkg="burger_war" type="cv_cam2.py" name="cvCam" output="screen"/>    
    <!-- End of your space  -->
</launch>

